venv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

.env
.DS_Store

report/report.aux
report/report.log
report/report.out
report/report.pdf
report/report.tex
report/report.toc
