{% extends 'layout.html' %}

{% block header %}
<h1>{% block title %}Create a notecast{% endblock %}</h1>
{% endblock %}

  {% block content %}
<div class="center">
  <div>
    <p class="heading-one">Create</p>
    <form method="post">
      <div>
        <div>
          <input placeholder="Enter a title ..." class="input-field" name="title" id="title" style="width: 331px" required />
        </div>
        <div>
          <textarea placeholder="Enter a script ..." class="input-field" name="script" for="script" style="resize: vertical; margin-top: 8px; width: 331px" id="script" required></textarea>
        </div>
        <input class="button" type="submit" style="min-width: 350px; margin-top: 19px" value="Create">
      </div>
    </form>
  </div>
</div>
  {% endblock %}
