{% extends 'layout.html' %}

{% block content %}
<div class="center">
  <div>
    <p class="heading-one" style="margin-bottom: 40px;">Create</p>
    <form method="post">
      <div>
        <div>
          <input placeholder="Enter a title ..." class="input-field" name="title" id="title" style="width: 331px" required />
        </div>
        <div>
          <textarea placeholder="Enter a script ..." class="input-field" name="script" for="script" style="resize: vertical; margin-top: 8px; width: 331px" id="script" required></textarea>
        </div>
        <select for="voice" name="voice">
          <option value="en-GB-SoniaNeural">Sonia</option>
          <option value="en-GB-LibbyNeural">Libby</option>
          <option value="en-GB-RyanNeural">Ryan</option>
        </select>
        <input class="button" type="submit" style="min-width: 350px; margin-top: 19px" value="Create">
        {% for message in get_flashed_messages() %}
            <p style="color: #E70F0F; text-align: center;">{{ message }}</p>
        {% endfor %}
      </div>
    </form>
  </div>
</div>
{% endblock %}
