{% extends 'layout.html' %}

{% block content %}
<div class="center">
  <div>
    <p class="heading-one" style="margin-bottom: 40px;">Create</p>
    <form method="post">
      <div>
        <div>
          <input placeholder="Enter a title ..." class="input-field" name="title" id="title" style="width: 331px" required />
        </div>
        <div>
          <textarea placeholder="Enter a script ..." class="input-field" name="script" for="script" style="resize: vertical; margin-top: 8px; width: 331px" id="script" required></textarea>
        </div>
        <div style="margin-top: 8px;">
          <select style="width: 351px" class="select-box" for="voice" name="voice">
            <option value="en-GB-SoniaNeural">Sonia (UK)</option>
            <option value="en-GB-LibbyNeural">Libby (UK)</option>
            <option value="en-GB-RyanNeural">Ryan (UK)</option>
            <option value="en-US-JennyNeural">Jenny (US)</option>
            <option value="en-US-ChristopherNeural">Christopher (US)</option>
          </select>
        </div>
        <div style="margin-top: 56px;">
          <p style="margin-bottom: 6px;">Select image:</p>
          <div style="display: flex; flex-direction: row; align-items: center;">
            <select onchange="onChange(this.value)" style="width: 300px" class="select-box" for="image" name="image">
              <option selected value="person.png">Person</option>
              <option value="plant.png">Plant</option>
              <option value="pattern.png">Pattern</option>
            </select>
            <img id="image" style="margin-left: 12px;" width="45" height="45" src="../../static/person.png" />
          </div>
        </div>
        <input class="button" type="submit" style="min-width: 350px; margin-top: 19px" value="Create">

        {% for message in get_flashed_messages() %}
            <p style="color: #E70F0F; text-align: center;">{{ message }}</p>
        {% endfor %}
      </div>
    </form>
    <a href="/"><p style="margin-top: 24px; font-size: 12px; text-align: center;">Cancel</p></a>
  </div>
</div>

<script>
  const onChange = (value) => {
      const image = document.getElementById("image")
      image.setAttribute("src", `../../static/${value}`)
  }
</script>
{% endblock %}
