{% extends "layout.html" %}

{% block content %}
<div style="margin-left: 100px; margin-right: 100px; margin-top: 75px;">
    <p class="heading-one" style="margin-bottom: 16px">Notecasts</p>
    <div style="margin-bottom: 50px; display: flex; width: 100%;">
            <div class="blue-pill">{{ casts|length }} notecasts</div>
            <div class="purple-pill" style="margin-left: 6px">{{ casts|length }} notecasts</div>
            <form action="/create" style="margin-left: auto;">
                <input class="small-button" type="submit" style="padding-left: 12px; padding-right: 12px" value="Create a notecast">
            </form>
    </div>
    {% for cast in casts %}
    <div class="notecast">
        <img style="cursor: pointer; padding-top: 4px; margin-right: 16px;" onclick="play({{ cast['id'] }})" id="{{ cast['id'] }}-icon" width="40" height="40" src="../../static/play.svg" />
        <img width="40" height="40" src="../../static/plant.png" />
        <div style="margin-left: 16px">
        <p class="notecast-title">{{ cast["title"] }}</p>
        <p id="{{ cast['id'] }}-duration" class="notecast-duration">00:00</p>
        </div>
    </div>
    {% endfor %}

    {% for cast in casts %}
        <p>{{ cast["title"] }}</p>
        <audio ontimeupdate="updateTime({{ cast['id'] }})" id="{{ cast['id'] }}" controls src="{{ cast['location'] }}"></audio>
        <p>{{ cast["created"] }}</p>
        <button onclick="play({{ cast['id'] }})">play</button>
        <script>
        </script>
    {% endfor %}
        </div>

<script>
    const play = (id) => {
        const audio = document.getElementById(id)
        const icon = document.getElementById(`${id}-icon`)

        audio.addEventListener('ended', () => end(icon, id))

        if (audio.paused) {
            audio.play()
            icon.setAttribute("src", "../../static/pause.svg")
        } else {
            audio.pause()
            icon.setAttribute("src", "../../static/play.svg")
        }
    }

    const end = (icon, id) => {
        icon.setAttribute("src", "../../static/play.svg")

        document.getElementById(`${id}-duration`).innerHTML = "00:00"
    }

    const updateTime = (id) => {

        const audio = document.getElementById(id)

        const minutes = Math.floor(audio.currentTime / 60)
        const seconds = Math.floor(audio.currentTime - minutes * 60)

        document.getElementById(`${id}-duration`).innerHTML = `${("0" + minutes).slice(-2)}:${("0" + seconds).slice(-2)}` 
    }
</script>
{% endblock %}

