{% extends 'layout.html' %}

{% block header %}
<h1>{% block title %}Sign up{% endblock %}</h1>
{% endblock %}

  {% block content %}
<div class="center">
  <div>
    <p class="heading-one">Sign up</p>
    <form method="post">
      <div>
        <div>
          <input placeholder="Enter email address ..." class="input-field" name="email" id="email" style="width: 331px" required />
        </div>
        <div>
          <input placeholder="Enter password ..." class="input-field" type="password" name="password" for="password" style="margin-top: 8px; width: 331px" id="password" required />
        </div>
        <input class="button" type="submit" style="min-width: 350px; margin-top: 19px" value="Sign up">
  {% for message in get_flashed_messages() %}
      <p style="color: #E70F0F; text-align: center;">{{ message }}</p>
  {% endfor %}
      </div>
    </form>
  </div>
</div>
  {% endblock %}
